* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  margin: 0 1rem;
  background-color: #e0e0e0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

a {
  text-decoration: none;
}

.part {
  font-size: 1rem;
}

.part li {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.kayttoehdot {
  font-size: 70%;
  border: solid 1px black;
  border-radius: 1rem;
  padding: 0 0.5rem;
  background-color: transparent;
  margin-top: 3rem;
}


.title div {
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 2rem;
}

.title p {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.icon {
  height: 2rem;
  margin-bottom: 0.5rem;
}

hr {
  margin: 1rem;
  background-color: black;
}

.song-title {
  font-weight: bold;
  font-size: 1rem;
}

.song-discription {
  font-size: 80%;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

footer .update-info {
  font-size: 60%;
}


.title h1 {
  word-wrap: break-word;
  font-size: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

}